services:
  sat_catalogs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sat_catalogs
    expose:
      - "8000"
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - docker_default
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    read_only: true
    tmpfs:
      - /tmp

networks:
  docker_default:
    external: true
